body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a{
    font-size: 26px;
    color: inherit;
}
a.logo{
    font-size: 46px;
    font-family: 'Rubik Gemstones', cursive;
    text-transform: uppercase;
}
h1{
    font-size: 46px;
    font-family: 'Rubik Gemstones', cursive;
    text-align: center;
    text-transform: capitalize;
}
.article{
    font-size: 60px;
    color: chocolate;
    border: 5px solid red;
}
.subtitle{
    font-style: 1.2em;
    text-align: right;
    text-decoration: dotted red overline 0.5em;
}
p{
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Lora', serif;
    line-height: 1.5em;
} 
.btn{
    text-decoration: none;
    border: red;
}